*{
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    padding-top: 36px;
    width: 100%;
    
}

.spisok{
    font-size: 17px;
    font-weight: 400;
    display: inline;
    margin-right: 34px;
    cursor: pointer;
}

.logo-realme{
    position: relative;
    margin-right: 34px;
    width: 92px;
    height: 28px;
    top: 6px;
    cursor: pointer;
    
}

.profile{
    width:24px ;
    height:23px ;
    cursor: pointer;

}

.search{
    margin-right: 32px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.bascet{
    margin-right: 32px;
    width: 25px;
    height: 23px;       
    cursor: pointer;

}

.nav-bar2{
    position: relative;
    bottom: 30px;
    margin-left: 626px;
}


.btnBurg{
    margin-left: 700px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burg-menu{
    margin-left: 712px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-bar2-burg{
    display: none;
}

.burg-menu_hidden{
    display:none;
}

.origin-nav2{
    display: flex;
    justify-content: end;
  }


@media (max-width:394px ) {
   .nav-bar2-burg{
    display: block;
    

}
  .origin-nav2{
    display: none;
  }

  .profile{
    width:24px ;
    height:23px ;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #F3F3F3;

}

.search{
    margin-right: 32px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #F3F3F3;
}

.bascet{
    margin-right: 32px;
    width: 25px;
    height: 23px;       
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #F3F3F3;

}


}

